<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>
	<div id="content">
		<h1>Hey, I'm Alimov TILLO</h1>
		<p>welcome to my first rails app</p>
		<p>My Facebook <a href="http://www.Facebook.com/AlimovTILLO">AlimovTILLO</a></p>
		<p>@AlimovTILLO</p>
	</div>
</div>